.box-us {

    width: 200px;
    height: 200px;
    margin: 20px;
    /*padding: 10px 0;*/
    border: 1px solid blue;
    box-shadow: 1px 1px 10px 10px blue;
    font-weight: bold;
    font-style: italic;
    /*word-wrap: break-word;*/
    /*text-align: center;*/
    /*overflow: hidden;*/

}

.box-us:hover {
    background-color: yellow;
}

.box-us p {
    /*width: 200px;*/
    /*text-overflow: unset;*/
    /*overflow: clip;*/
    /*word-wrap: anywhere;*/
    /*text-align: center;*/
    /*padding: 0 10px;*/

}

button {
    width: 75px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 1px 5px 5px blue;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:active {
    background-color: #282c34;
}

.details {
    list-style: none;
    width: 80%;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10%;
    /*border: 1px solid black;*/
    box-shadow: 1px 1px 5px 5px black;

}

.details:active {
    background-color: blue;

}

.details h3 {
    border: 1px solid red;
    border-radius: 10px;

}

.details > summary {
    list-style: none;

}

.infoNone {
    display: none;
}


@media screen and (min-width: 0) and (max-width: 1400px) {
    .box-us{
        width: 300px;
        height: 150px;
        padding: 5px;
        font-size: 12px;
    }

    button {
        width: 80px;
        height: 20px;
        font-size: 12px;
        font-weight: bold;
    }
}