.boxPost {
    width: 20%;
    position: fixed;
    border-radius: 0 0 10px 10px;
    background-color: black;
    color: white;
    margin-left: 5%;
    margin-top: -80px;
    border-bottom: 3px solid green;

}

.postParams {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}

.postDetails {
    display: none;
}


