.App {
  text-align: center;
  padding: 50px 0;
  background-image: linear-gradient(to right, #000000, #2e2e2e, #585858, #878787, #b9b9b9, #c9c2d2, #decae9, #f8d1fc, #ffa6e0, #ff75ad, #ff3d66, #ff0000);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
