.App {
  text-align: center;
  padding: 50px 0;
  background-image: linear-gradient(to bottom, #23ae7d, #19b87c, #10c37a, #0ecd77, #16d772, #1fdc6b, #29e063, #34e55a, #3de54e, #46e440, #4fe430, #57e319);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
