.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to top, #ad0eda, #ab0edb, #a90edc, #a60fde, #a40fdf, #9b13df, #9217de, #881ade, #741fdb, #5d22d7, #4225d3, #1627cf);  margin-top: -200px;
  position: fixed;
}

.header > h1 {
  text-align: center;
  line-height: 135px;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 2px 2px 50px blue;

}

.container {
  width: 80%;
  height: 100%;
  background-image: linear-gradient(to right, #ad0eda, #ab0edb, #a90edc, #a60fde, #a40fdf, #9b13df, #9217de, #881ade, #741fdb, #5d22d7, #4225d3, #1627cf);
  border: 2px solid black;
  border-radius: 25px;
  margin-left: 10%;
  margin-top: 200px;
  padding-top: 50px;
}